Task1. 주어진 df의 날짜 리스트를 datetime 형식으로 변환하고, 변환된 데이터프레임의 년도, 월, 일 열을 추가하시오.

In [3]:
import pandas as pd

# 날짜 문자열 리스트
date_list = ['2023-01-01', '2023-02-15', '2023-03-30']

# 데이터프레임 생성
df = pd.DataFrame(date_list, columns=['date'])
pd.to_datetime(df['date'])
df['year'] = pd.to_datetime(df['date']).dt.year
df['month'] = pd.to_datetime(df['date']).dt.month
df['day'] = pd.to_datetime(df['date']).dt.day
df

         date  year  month  day
0  2023-01-01  2023      1    1
1  2023-02-15  2023      2   15
2  2023-03-30  2023      3   30

Task2. 주어진 월간 데이터를 타임스탬프로 변환하고, 변환된 결과에서 시간을 제외한 날짜만 출력하시오.

In [4]:
import pandas as pd

# 문자열을 Period로 변환
period_data = pd.Series(['2023-01', '2023-02', '2023-03'], name='period')
period_data

# 타임스탬프로 변환
timestamp_data = pd.to_datetime(period_data, format='%Y-%m')
timestamp_data

# 시간을 제외한 날짜만 출력
timestamp_data.dt.date

0    2023-01-01
1    2023-02-01
2    2023-03-01
Name: period, dtype: object

Task3. 주어진 날짜 데이터 시리즈를 분기로 변환하고, 각 분기별로 데이터의 개수를 출력하세요.

In [7]:
import pandas as pd

# 날짜 데이터 시리즈
date_series = pd.Series(pd.date_range('2023-01-01', '2023-12-31', freq='M'))
print("Date Series:")
print(date_series)

# 분기로 변환
quarterly_data = date_series.dt.to_period('Q')
print("\nQuarterly Data:")
print(quarterly_data)

# 각 분기별 데이터의 개수
quarterly_counts = quarterly_data.value_counts().sort_index()
print("\nQuarterly Data Counts:")
print(quarterly_counts)

Date Series:
0    2023-01-31
1    2023-02-28
2    2023-03-31
3    2023-04-30
4    2023-05-31
5    2023-06-30
6    2023-07-31
7    2023-08-31
8    2023-09-30
9    2023-10-31
10   2023-11-30
11   2023-12-31
dtype: datetime64[ns]

Quarterly Data:
0     2023Q1
1     2023Q1
2     2023Q1
3     2023Q2
4     2023Q2
5     2023Q2
6     2023Q3
7     2023Q3
8     2023Q3
9     2023Q4
10    2023Q4
11    2023Q4
dtype: period[Q-DEC]

Quarterly Data Counts:
2023Q1    3
2023Q2    3
2023Q3    3
2023Q4    3
Freq: Q-DEC, Name: count, dtype: int64

Task4. 2023년 1월 1일부터 2023년 12월 31일까지의 날짜 범위를 생성하고, 이 날짜 범위에서 매월 첫 번째 날만 포함하는 데이터프레임을 작성하세요.

In [8]:
import pandas as pd

# 2023년 1월 1일부터 2023년 12월 31일까지의 날짜 범위를 생성
date_range = pd.date_range(start='2023-01-01', end='2023-12-31', freq='MS')

# 데이터프레임 생성
df_first_of_month = pd.DataFrame(date_range, columns=['First_Day_of_Month'])

# 결과 출력
print(df_first_of_month)

   First_Day_of_Month
0          2023-01-01
1          2023-02-01
2          2023-03-01
3          2023-04-01
4          2023-05-01
5          2023-06-01
6          2023-07-01
7          2023-08-01
8          2023-09-01
9          2023-10-01
10         2023-11-01
11         2023-12-01

Task5. 2020년부터 2025년까지의 분기별 기간 범위를 생성하고, 각 분기의 시작과 끝 날짜를 포함하는 데이터프레임을 작성하세요.

In [13]:
import pandas as pd

# 2020년부터 2025년까지의 분기별 기간 범위를 생성
quarter_range = pd.period_range(start='2020Q1', end='2025Q4', freq='Q')

# 각 분기의 시작 날짜와 끝 날짜를 포함하는 데이터프레임 생성
df_quarters = pd.DataFrame({
    'Quarter': quarter_range,
    'Start_Date': quarter_range.start_time.date,
    'End_Date': quarter_range.end_time.date
})

# 결과 출력
print(df_quarters.head(8))

  Quarter  Start_Date    End_Date
0  2020Q1  2020-01-01  2020-03-31
1  2020Q2  2020-04-01  2020-06-30
2  2020Q3  2020-07-01  2020-09-30
3  2020Q4  2020-10-01  2020-12-31
4  2021Q1  2021-01-01  2021-03-31
5  2021Q2  2021-04-01  2021-06-30
6  2021Q3  2021-07-01  2021-09-30
7  2021Q4  2021-10-01  2021-12-31

Task6. 0일부터 10일까지의 시간 범위를 12시간 간격으로 생성하고, 각 간격에 대해 누적 시간을 계산하여 데이터프레임을 작성하세요.

In [14]:
import pandas as pd

# 시간 범위 생성 (0일부터 10일까지 12시간 간격)
timedelta_range = pd.timedelta_range(start=0, end='10D', freq='12H')

# 데이터프레임 생성
df = pd.DataFrame({
    'timedelta': timedelta_range,
    'cumulative_time': [timedelta.total_seconds() / 3600 for timedelta in timedelta_range]  # 누적 시간을 시간 단위로 계산
})

print(df)

          timedelta  cumulative_time
0   0 days 00:00:00              0.0
1   0 days 12:00:00             12.0
2   1 days 00:00:00             24.0
3   1 days 12:00:00             36.0
4   2 days 00:00:00             48.0
5   2 days 12:00:00             60.0
6   3 days 00:00:00             72.0
7   3 days 12:00:00             84.0
8   4 days 00:00:00             96.0
9   4 days 12:00:00            108.0
10  5 days 00:00:00            120.0
11  5 days 12:00:00            132.0
12  6 days 00:00:00            144.0
13  6 days 12:00:00            156.0
14  7 days 00:00:00            168.0
15  7 days 12:00:00            180.0
16  8 days 00:00:00            192.0
17  8 days 12:00:00            204.0
18  9 days 00:00:00            216.0
19  9 days 12:00:00            228.0
20 10 days 00:00:00            240.0

Task7. 주어진 df 에서 특정 날짜 이후의 데이터를 필터링하세요.

In [16]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'value': [1, 2, 3, 4, 5]
})
df['date'] = pd.to_datetime(df['date'])
print(df, '\n')

# 특정 날짜 이후의 데이터 필터링
filtered_df = df[df['date'] >= '2022-01-03']
print(filtered_df)

        date  value
0 2022-01-01      1
1 2022-01-02      2
2 2022-01-03      3
3 2022-01-04      4
4 2022-01-05      5

        date  value
2 2022-01-03      3
3 2022-01-04      4
4 2022-01-05      5

Task8. 주어진 df에서 월별로 데이터의 합계를 계산하세요.

In [17]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-15', '2022-02-01', '2022-02-15', '2022-03-01'],
    'value': [1, 2, 3, 4, 5]
})
df['date'] = pd.to_datetime(df['date'])
print(df,'\n')

# 월별 데이터 집계
df['month'] = df['date'].dt.to_period('M')
monthly_sum = df.groupby('month')['value'].sum().reset_index()
print(monthly_sum)

        date  value
0 2022-01-01      1
1 2022-01-15      2
2 2022-02-01      3
3 2022-02-15      4
4 2022-03-01      5

     month  value
0  2022-01      3
1  2022-02      7
2  2022-03      5

Task9. 주어진 데이터프레임에서 주말(토요일과 일요일) 데이터를 필터링하세요.

In [19]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-08', '2022-01-09'],
    'value': [1, 2, 3, 4, 5]
})
df['date'] = pd.to_datetime(df['date'])
print(df,'\n')

# 주말 데이터를 필터링
df['weekday'] = df['date'].dt.dayofweek   # dayofweek : {'MON':0 , 1, 2, 3, 4, 5, 'SUN':6}
weekend_df = df[df['weekday'].isin([5, 6])]
print(weekend_df)

        date  value
0 2022-01-01      1
1 2022-01-02      2
2 2022-01-03      3
3 2022-01-08      4
4 2022-01-09      5

        date  value  weekday
0 2022-01-01      1        5
1 2022-01-02      2        6
3 2022-01-08      4        5
4 2022-01-09      5        6

Task10. 주어진 df에서 분기별 데이터의 평균을 계산하세요.

In [ ]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01', '2022-05-01'],
    'value': [1, 2, 3, 4, 5]
})
df['date'] = pd.to_datetime(df['date'])
print(df,'\n')

# 분기별 데이터 집계
df['quarter'] = df['date'].dt.to_period('Q')
quarterly_mean = df.groupby('quarter')['value'].mean().reset_index()
print(quarterly_mean)

Task11. 주어진 df에서 작업 일자(월요일부터 금요일)만 남기고 필터링하세요.

In [20]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-03', '2022-01-04', '2022-01-05', '2022-01-08', '2022-01-09'],
    'value': [1, 2, 3, 4, 5, 6]
})
df['date'] = pd.to_datetime(df['date'])
print(df,'\n')

# 작업 일자(월요일부터 금요일)만 남기기
df['weekday'] = df['date'].dt.dayofweek
df = df[df['weekday'] < 5]
print(df)

        date  value
0 2022-01-01      1
1 2022-01-03      2
2 2022-01-04      3
3 2022-01-05      4
4 2022-01-08      5
5 2022-01-09      6

        date  value  weekday
1 2022-01-03      2        0
2 2022-01-04      3        1
3 2022-01-05      4        2